<header [ngSwitch]="menuType" class="header">

    <a href="#" class="logo">CompanyLogo</a>

    <nav *ngSwitchCase="'default'" class="navigation1">
        <div class="nav__link">
            <a href="#">Home</a>
            <a href="#">About</a>
        </div>
    </nav>
    <!-- <a *ngSwitchCase="'default'" class="cta" href="#"><button>Login</button></a> -->

    <nav *ngSwitchCase="'employee'" class="navigation">
        <div class="nav__link">
            <a [routerLink]="['employee','profile']">Profile</a>
            <a *ngSwitchCase="'employee'" href="#" (click)="logOut()">LogOut</a>
        </div>
    </nav>



    <nav *ngSwitchCase="'manager'" class="navigation">
        <div class="nav__link">
            <a [routerLink]="['employee','profile']">Profile</a>
            <a [routerLink]="['manager']">List Employee</a>
            <a *ngSwitchCase="'manager'" href="#" class="active" (click)="logOut()">LogOut</a>
        </div>
        
    </nav>

    <nav *ngSwitchCase="'admin'" class="navigation">
        <div class="nav__link">
            <a [routerLink]="['employee','profile']">Profile</a>
            <a *ngSwitchCase="'admin'" href="#" class="active" (click)="logOut()">LogOut</a>
        </div>
        
    </nav>

</header>
